// FONTES
// =====================================
$rosewood:  "rosewood-std";
$adelle:    "adelle";
$sansStack: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;


// CORES
// ======================================
$azulEscuro: rgb(0, 50, 100);

